# Project exclude paths
/netplus-common/target/
/netplus-commonservice-eureka/target/
/netplus-component/netplus-component-api/target/
/netplus-component/netplus-component-service/target/
/netplus-component-freemarker-web/target/
/netplus-config/target/
/netplus-excel/netplus-excel-api/target/
/netplus-excel/netplus-excel-service/target/
/netplus-interface-monitor/netplus-interface-monitor-api/target/
/netplus-interface-monitor/netplus-interface-monitor-service/target/
/netplus-interface-monitor/netplus-interface-monitor-web/target/
/netplus-job/netplus-job-admin/target/
/netplus-job/netplus-job-client/target/
/netplus-joint-erp/netplus-joint-erp-api/target/
/netplus-joint-erp/netplus-joint-erp-in-service/target/
/netplus-joint-erp/netplus-joint-erp-out-service/target/
/netplus-joint-zkh/netplus-joint-zkh-api/target/
/netplus-joint-zkh/netplus-joint-zkh-in-service/target/
/netplus-joint-zkh/netplus-joint-zkh-out-service/target/
/netplus-mall/netplus-mall-api/target/
/netplus-mall/netplus-mall-service/target/
/netplus-mall/netplus-mall-web/target/
/netplus-messaging/netplus-messaging-api/target/
/netplus-messaging/netplus-messaging-service/target/
/netplus-messaging/netplus-messaging-web/target/
/netplus-portal/netplus-portal-web/target/
/netplus-provider/netplus-provider-api/target/
/netplus-provider/netplus-provider-service/target/
/netplus-provider/netplus-provider-web/target/
/netplus-static/target/