
.login_three {
    padding: 50px 0;
    text-align: center;
}

.login_three ul {
    width: 1020px;
    margin: 0 auto;
    position: relative;
}

.login_three ul li {
    width: 120px;
    text-align: center;
    height: 86px;
    position: relative;
    font-size: 16px;
    margin-right: 320px;
}

.login_three ul li:last-child {
    margin-right: 0;
}

.login_three ul li.curr {
    color: #0F83E6;
}

.login_three ul li.curr {
    color: #0F83E6;
}

.login_three ul li.old_curr {
    color: #9FCDF5;
}

.login_three ul li.curr .num {
    background: url(../img/login/square_blue.png);
}

.login_three ul li.old_curr .num {
    background: url(../img/login/square_old.png);
}

.login_three ul li .num_box {
    width: 54px;
    background: #fff;
    height: 42px;
    margin: 0 auto 8px;
}

.login_three ul li .num {
    width: 42px;
    height: 42px;
    text-align: center;
    color: #fff;
    line-height: 42px;
    margin: 0 auto;
    font-size: 20px;
    background: url(../img/login/square.png);
}

.login_three .line {
    width: 900px;
    height: 4px;
    background: #DEE0E1;
    position: absolute;
    top: 20px;
    left: 50px;
}

.agreement—contont {
    height: 350px;
    line-height: 26px;
    overflow-y: scroll;
    -ms-overflow-y: scroll;
    color: #4D4D4D;
}

.agreement—contont .title {
    font-size: 16px;
    padding: 10px 0;
    color: #000;
}

.login_bg {
    background: url(../img/login/login_bg.png) repeat scroll center center;
    background-size: cover;
    height: 813px;
    background-size: cover;
}

.login_box {
    width: 1200px;
    padding-top: 145px;
    margin: 0 auto;
    position: relative;
}

.login_item {
    width: 310px;
    margin-right: 134px;
    background: #fff;
    border-radius: 5px;
    float: right;
    box-sizing: border-box;
    padding: 34px 40px;
}

.login_input {
    width: 100%;
}

.login_input .login_input-item {
    width: 230px;
    overflow: hidden;
    margin-bottom: 25px;
}

.login_input .login_input-item i {
    width: 44px;
    text-align: center;
    font-size: 20px;
}

.login_input .login_input-item input {
    border: 0;
}

.login_input .login_input-item label {
    float: left;
    border-bottom: 1px solid #0F83E6;
    padding-bottom: 3px;
    width: 100%;
    cursor: default;
}

.login_input .login_input-item .code {
    margin-left: 10px;
    font-size: 10px !important;
    background: linear-gradient(to bottom, #FCFCFC, #ECEFF0);
    border: 1px solid #CCCCCC;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    padding: 0 2px;
}

.login-btn {
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #0F83E6;
    width: 100%;
    border-radius: 20px;
}

.infoTab .w .left_text {
    width: 160px;
    display: inline-block;
    text-align: right;
    float: left;
    line-height: 28px;
    color: #AAAAAA;
}

.infoTab .w .input {
    width: calc(100% - 180px);
    display: inline-block;
    float: left;
    box-sizing: border-box;
    height: 28px;
    border: 1px solid #DCDFE6;
}

.infoTab .w .txt {
    width: calc(100% - 180px);
    text-align: left;
    line-height: 30px;
    display: inline-block;
}

.infoTab .w .left_text i {
    color: #C8161E;
}

.blankInfo {
    height: 218px;
}

.blankInfo li {
    box-shadow: 0px 0px 3px 1px #DBDBDB;
    padding-top: 20px;
    border-radius: 5px;
    margin-right: 8px;
    float: left;
    width: 332px;
}

.blankInfo li input {
    height: 28px;
    border: 1px solid #DCDFE6;
}

.blankInfo li > div {
    line-height: 28px;
    padding-bottom: 20px;
}

.blankInfo li > div span {
    font-size: 10px !important;
    color: #999;
}

.findPass {
    width: 520px;
    height: 90px;
    border: 1px solid #FBD6A5;
    border-radius: 5px;
    line-height: 90px;
    background-color: #FEF6ED;
    font-size: 24px;
}

.message_center li>div {
    border-bottom: 1px solid #EAEAEA;
    line-height: 29px;
    padding: 20px 0;
    height: 70px;
    position: relative;
}

.message_center li.curr {
    background: url(../img/message/message_bg.png) no-repeat;
}

.message_center li.curr span {
    color: #0F83E6;
}
.bg_red_num {
    height: 15px;
    font-size: 12px;
    padding: 0 6px 2px;
    color: #fff;
    background: #C8161E;
    border-radius: 9px;
    position: absolute;
    right: 0;
    top: 26px;
    line-height: 16px;
}


.message_right {
    border: 1px solid #EFEFEF;
    background: #F9F9F9;
    line-height: 28px;
    padding: 10px;
    width: calc(100% - 73px);
    position: relative;
}

.login_item .el-input--prefix .el-input__inner {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    padding-left: 24px;
    font-size: 14px;
    text-indent: 4px !important;
}

.login_item .el-input__prefix {
    left: 1px;
}

.login_item .el-input__icon {
    font-size: 20px;
}

.login_item .el-button {
    width: 100%;
}

.span_link {
    cursor: pointer;
}

.a_link {
    font-size: 12px !important;
}

.error_msg {
    height: 22px;
    line-height: 20px;
    display: block;
}

.sms_btn {
    font-size: 12px !important;
}

.el-input-group__append {
    border: 1px solid #DCDFE6 !important;
    border-radius: 4px !important;
    padding: 0 5px;
}

.pwd_btn_color .el-input-group__append {
    color: #FFF !important;
    background-color: #67C23A !important;
    border-color: #67C23A !important;
}

.img_code {
    border: 1px solid #DCDFE6;
}

.acct_title {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}

.link_btn {
    margin-left: 5px !important;
    color: #409EFF;
    cursor: pointer;
}

.link_btn:hover {
    color: #409eff9e;
}
