<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="netplus.provider.service.dao.Tbmqq439Mapper">
  <resultMap id="BaseResultMap" type="netplus.provider.api.pojo.ygmalluser.Tbmqq439">
    <id column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="CONSIGNEEADDR" jdbcType="VARCHAR" property="consigneeaddr" />
    <result column="CREATEDATE" jdbcType="VARCHAR" property="createdate" />
    <result column="CREATETIME" jdbcType="VARCHAR" property="createtime" />
    <result column="UPDATEDATE" jdbcType="VARCHAR" property="updatedate" />
    <result column="UPDATETIME" jdbcType="VARCHAR" property="updatetime" />
    <result column="ADDRTYPE" jdbcType="VARCHAR" property="addrtype" />
  </resultMap>
  <sql id="Base_Column_List">
    CODE, PROVINCE, CITY, CONSIGNEEADDR, CREATEDATE, CREATETIME, UPDATEDATE, UPDATETIME, 
    ADDRTYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from YGMALLUSER.TBMQQ439
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from YGMALLUSER.TBMQQ439
    where CODE = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="netplus.provider.api.pojo.ygmalluser.Tbmqq439">
    insert into YGMALLUSER.TBMQQ439 (CODE, PROVINCE, CITY, 
      CONSIGNEEADDR, CREATEDATE, CREATETIME, 
      UPDATEDATE, UPDATETIME, ADDRTYPE
      )
    values (#{code,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{consigneeaddr,jdbcType=VARCHAR}, #{createdate,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{updatedate,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, #{addrtype,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="netplus.provider.api.pojo.ygmalluser.Tbmqq439">
    insert into YGMALLUSER.TBMQQ439
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        CODE,
      </if>
      <if test="province != null">
        PROVINCE,
      </if>
      <if test="city != null">
        CITY,
      </if>
      <if test="consigneeaddr != null">
        CONSIGNEEADDR,
      </if>
      <if test="createdate != null">
        CREATEDATE,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="updatedate != null">
        UPDATEDATE,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="addrtype != null">
        ADDRTYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="consigneeaddr != null">
        #{consigneeaddr,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="addrtype != null">
        #{addrtype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="netplus.provider.api.pojo.ygmalluser.Tbmqq439">
    update YGMALLUSER.TBMQQ439
    <set>
      <if test="province != null">
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="consigneeaddr != null">
        CONSIGNEEADDR = #{consigneeaddr,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        CREATEDATE = #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        UPDATEDATE = #{updatedate,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="addrtype != null">
        ADDRTYPE = #{addrtype,jdbcType=VARCHAR},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="netplus.provider.api.pojo.ygmalluser.Tbmqq439">
    update YGMALLUSER.TBMQQ439
    set PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      CONSIGNEEADDR = #{consigneeaddr,jdbcType=VARCHAR},
      CREATEDATE = #{createdate,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=VARCHAR},
      UPDATEDATE = #{updatedate,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=VARCHAR},
      ADDRTYPE = #{addrtype,jdbcType=VARCHAR}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
</mapper>